@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Manrope:wght@200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root
{
    --clr-primary-black: #000000;
    --clr-primary-white: #ffffff;

    --clr-secondary-lightviolette: #dadbf1;
    --clr-secondary-blue: #4C5FD5;

    --font-family-primary: Abstract, sans-serif;

    --font-family-body: var(--font-family-primary);
    --font-family-headings: var(--font-family-body);

    --font-weight-normal: 400;
    --font-weight-bold: 600;

    --font-size-xs: 1rem;
    --font-size-sm: 1.25rem;
    --font-size-normal: 1.5rem;
    --font-size-big: 5rem;

    --font-size-nav: var(--font-size-normal);
    --font-size-body: var(--font-size-normal);
    --font-size-footer: var(--font-size-xs);
}

@media (min-width: 768px)
{
    root
    {
        --font-size-xs: 1rem;
        --font-size-sm: 1.25rem;
        --font-size-normal: 1.5rem;
        --font-size-big: 2.5rem;

        --font-size-nav: var(--font-size-normal);
        --font-size-body: var(--font-size-normal);
        --font-size-footer: var(--font-size-xs);
    }

}

/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
}

*
{
    margin: 0;
    padding: 0;
    font: inherit;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
    list-style: none;
}

/* Set core root defaults */
html:focus-within {
    scroll-behavior: smooth;
}

html,
body
{
    height: 100%;
    font-family: "Lato", sans-serif;
}

/* Set core body defaults */
body {
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
    text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture,
svg {
    max-width: 100%;
    display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
    font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
    html:focus-within {
        scroll-behavior: auto;
    }
    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

/* Utility Classes */

.text-primary-black
{
    color: var(--clr-primary-black);
}

.text-secondary-white
{
    color: var(--clr-primary-white);
}

.text-secondary-lightviolette
{
    color: var(--clr-secondary-lightviolette);
}

.text-secondary-blue
{
    color: var(--clr-secondary-blue);
}

.bg-primary-black
{
    background-color: var(--clr-primary-black);
}

.bg-secondary-white
{
    background-color: var(--clr-primary-white);
}

.bg-secondary-lightviolette
{
    background-color: var(--clr-secondary-lightviolette);
}

.bg-secondary-blue
{
    background-color: var(--clr-secondary-blue);
}

.fontWeight-normal { font-weight: var(--font-weight-normal); }
.fontWeight-bold { font-weight: var(--font-weight-bold); }

.fontSize-xs { font-size: var(--font-size-xs); }
.fontSize-sm { font-size: var(--font-size-sm); }
.fontSize-normal { font-size: var(--font-size-normal); }
.fontSize-big { font-size: var(--font-size-big); }

.containerNav
{
    display: flex;
    width: 90%;
    height: 88px;
    flex-direction: row;
    justify-content: space-between;
    margin-inline: auto;
    align-content: center;
}

.containerNav .company
{
    display: flex;
    gap: 1rem;
    flex-direction: row;
    align-self: center;
    justify-content: center;
}

.company
{
    align-self: center;
}

.company-button
{
    display: flex;
    align-self: center;
    width: 25%;
    gap: 1rem;
}

.company-button button
{
    width: 15rem;
    height: 3rem;
    border-radius: .4rem;
    border: 2px solid transparent;
    cursor: pointer;
}

.company-button .button-Submit-Request
{
    border: 1px solid var(--clr-primary-white);
    background-color: transparent;
    flex: 85%;
}

.company-button .sign-In
{
    background-color: var(--clr-secondary-blue);
    color: var(--clr-primary-white);
    transition: .5s;
}

.company-button .sign-In:hover
{
    transition: .5s ease;
    background-color: var(--clr-primary-white);
    color: var(--clr-primary-black);
}

section .container-Header
{
    display: flex;
    width: 100%;
    height: 30rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow:
            0px 0px 2.2px rgba(0, 0, 0, 0.017),
            0px 0px 5.3px rgba(0, 0, 0, 0.024),
            0px 0px 10px rgba(0, 0, 0, 0.03),
            0px 0px 17.9px rgba(0, 0, 0, 0.036),
            0px 0px 33.4px rgba(0, 0, 0, 0.043),
            0px 0px 80px rgba(0, 0, 0, 0.06)
;
}
.container-Header h1
{
}

.container-Header input
{
    width: 50%;
    height: 4rem;
    padding: 0 1rem;
    border: 1px solid var(--clr-primary-black);
    border-radius: 0.5rem;
    box-shadow:
            0px 0px 2.2px rgba(0, 0, 0, 0.017),
            0px 0px 5.3px rgba(0, 0, 0, 0.024),
            0px 0px 10px rgba(0, 0, 0, 0.03),
            0px 0px 17.9px rgba(0, 0, 0, 0.036),
            0px 0px 33.4px rgba(0, 0, 0, 0.043),
            0px 0px 80px rgba(0, 0, 0, 0.06)
;
}

.container-middle {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 10rem 0;
}

.row {
    display: flex;
    justify-content: space-around;
    width: 80%;
    margin-bottom: 2rem;
}

.even-column {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 45%;
    padding: 10px;
    border-radius: 8px;  /* Optional rounded corners for aesthetics */
}

.even-column img {
    width: 100px;
    height: auto;
    margin-right: 20px;
}

.text-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.text-content h4, .text-content p, .text-content a {
    margin: 5px 0;
    font-size: var(--font-size-sm);
}

.text-content a {
    color: var(--clr-secondary-blue);
    cursor: pointer;
    text-decoration: none;
}

.text-content a:hover {
    text-decoration: underline;
    color: var(--clr-secondary-blue);
}



footer {
    display: flex;
    background-color: var(--clr-primary-black);
    color: var(--clr-primary-white);
    padding: 4rem 8rem;
    font-size: var(--font-size-xs);
}

.container-Footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    max-width: 1920px;
    margin: auto;
}

.footer-column,
.footer-column-company {
    display: flex;
    flex-direction: column;
    flex: 1 1 20%; /* Adjusts the basis and allows flexing */
    min-width: 200px; /* Minimum width of each column to prevent squishing */
    margin: 1rem;
}

.footer-column h3,
.footer-column-company h3 {
    font-weight: var(--font-weight-bold);
    margin-bottom: 1rem;
}

.footer-column ul,
.footer-column-company ul {
    list-style: none;
    padding: 0;
}

.footer-column a,
.footer-column-company a {
    color: var(--clr-primary-white);
    text-decoration: none;
    line-height: 2;
    font-weight: normal;
}

.footer-column a:hover,
.footer-column-company a:hover {
    text-decoration: underline;
}

.footer-contactUs {
    margin-top: 2rem;
}

.footer-column-copyright {
    margin-top: 10rem;
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    justify-self: flex-end;
    align-items: flex-start;
}

.company img,
.footer-column-copyright img
{
    width: 8rem;
    cursor: pointer;
    transition: .5s;
}

.company img:hover
{
    opacity: 0.55;
    transition: .7s ease;
}

@media (max-width: 768px)
{

    .even-column, .row
    {
        flex-direction: column;
        width: 80%;
        margin-inline: auto;
    }
    .container-Footer {
        flex-direction: column;
        align-items: center;
    }

    .footer-column,
    .footer-column-company {
        flex: 100%; /* Each column takes full width on smaller screens */
        text-align: center;
    }
}


@media (max-width: 1200px)
{
    .company-button
    {
        display: none;
    }
}


@media (max-width: 430px)
{
    .container-Header h1
    {
        font-size: 4rem;
    }
    .even-column, .row
    {
        flex-direction: column;
        width: 80%;
        margin-inline: auto;
    }
    footer
    {
        justify-content: center;
        align-items: center;
    }
}

